:root {
  --primary-color: #044b83;
  --primary-color-light: #3183c2;
  --secondary-color: #e43c44;
  --secondary-color-nav: #bc4b51;
  --text-light: #fff;
  --text-dark: #000;
  --text-dark-nav: #121111;
  --width: 100%;
  --max-width: 1200px;
}
/* ================= DESKTOP ================= */

@media (min-width: 861px) {

  .nav-icon,
  .nav-icon-close {
    display: none;
  }
}

/* ================= TABLET & MOBILE ================= */

@media (max-width: 860px) {
  nav {
    transition: transform 0.5s ease-in-out;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    background: var(--primary-color-light);
    transform: translateX(100%);
    z-index: 999;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  nav ul li a {
    font-size: 1rem;
    min-width: 180px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
  }

  .nav-icon,
  .nav-icon-close {
    font-size: 2rem;
    cursor: pointer;
    color: white;
    padding: 1rem;
  }

  .show {
    transform: translateX(0);
  }

  .hero-text {
    margin-top: 1rem;
  }

  .image-container {
    max-width: 300px;
  }
    .main-text span {
      font-size: 2rem;
    }
}

/* ================= SMALL PHONES (400px ↓) ================= */

@media (max-width: 400px) {
  nav {
    width: 60%;
  }

  main {
    grid-template-columns: 1fr;
  }

  .image-icon-container {
    flex-direction: column;
  }

  .icon-container {
    flex-direction: row;
  }

  .main-text span {
    font-size: 2.6rem;
  }

  .main-text span:last-child {
    font-size: 4.5rem;
  }

  .image-flex {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .image-flex-container {
    width: 100px;
  }
}






